@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  background-color: rgb(245, 243, 243);
}
.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2e4d43;
  margin-inline: 0.5rem;
}
.header__title h2 {
  font-size: 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.navbar ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navbar ul li {
  margin: 15px 0;
}
.navbar ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.navbar ul li a:hover {
  background-color: #ffffff;
  color: #102f25;
}

input[type=checkbox]#active {
  display: none;
}

#active:checked ~ .navbar {
  clip-path: circle(75%);
  background-color: #2e4d43;
  opacity: 0.95;
}

.menu-btn {
  z-index: 2;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #102f25;
  cursor: pointer;
  border: 2px solid #2e4d43;
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn {
  color: #ddd6d3;
  border: 2px solid #ddd6d3;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

.dropbtn {
  border: 1px solid #102f25;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 60px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.dropbtn i {
  font-size: 20px;
  color: #102f25;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #102f25;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.dropdown-content a:first-child {
  border-bottom: 1px solid rgb(223, 220, 220);
}
.dropdown-content a img {
  width: 15px;
}

.dropdown-content a:hover {
  background-color: #c4d0cd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c4d0cd;
}

@media (max-width: 768px) {
  .header {
    padding-inline: 10px;
  }
  .header h1 {
    font-size: 25px;
  }
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
  }
  .menu-btn i {
    font-size: 1rem;
  }
  .dropbtn {
    padding: 0.3rem 0.3rem;
    width: 40px;
  }
  .dropbtn i {
    font-size: 15px;
    color: #102f25;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  background-color: rgb(245, 243, 243);
  color: #102f25;
}
.footer__link {
  width: 100%;
  font-size: 12px;
}
.footer__link-title {
  font-size: 14px;
}
.footer__link a {
  color: #102f25;
  font-weight: 500;
}
.footer__title {
  text-align: center;
  font-size: 32px;
  width: 100%;
}
.footer__contact {
  color: black;
  text-align: right;
  width: 100%;
}
.footer__contact p {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
.footer__contact a {
  color: #102f25;
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__link {
    order: 3;
    width: auto;
  }
  .footer__title {
    order: 1;
  }
  .footer__contact {
    text-align: center;
    order: 2;
  }
}
.btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.home {
  background-image: url("../images/S.EngagementMarieFlorent1022-web-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: calc(100vh - 100px);
  color: #ffffff;
  text-shadow: 0 0px 3px black;
  height: calc(100vh - 90px);
  text-align: center;
}
.home .home__title {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.home .home__subtitle {
  margin-block: 3rem;
  font-size: 20px;
}
.home .home__date {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}
.home .btn-home {
  margin-top: 2rem;
  background-color: #ddd6d3;
  color: #102f25;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.home .btn-home:hover {
  background-color: #102f25;
  color: white;
  opacity: 0.9;
}
.home .btn-home:active {
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .home {
    justify-content: flex-start;
    padding-top: 3rem;
  }
  .home__date {
    max-width: 90%;
  }
}
.infos-container {
  background-color: #c4d0cd;
  padding: 5rem 2rem;
  text-align: center;
}
.infos-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.infos {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin-top: 6rem;
}

.dresscode .infos {
  margin-top: 0;
}
.dresscode .infos .info__dresscode {
  max-width: 400px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.info__icon {
  width: 100px;
  height: 100px;
}
.info__icon img {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .infos-container {
    padding: 3rem 1rem;
  }
  .infos {
    flex-direction: column;
    margin-top: 3rem;
    max-width: 100%;
    gap: 4rem;
  }
  .info {
    gap: 0.5rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .infos-container {
    padding-inline: 1rem;
  }
  .infos {
    max-width: 100%;
  }
}
.localisation-wrapper {
  min-height: calc(100vh - 90px);
  background: url("./../images/petit_wetto.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.localisation {
  text-shadow: 0 0px 3px black;
  width: 950px;
  padding: 5rem 3rem;
  background-color: rgba(46, 77, 67, 0.7450980392);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-block: 1rem;
}
.localisation__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}
.localisation__text-title {
  font-size: 36px;
}
.localisation__text-content {
  text-align: center;
  font-size: 22px;
  line-height: 1.3;
}
.localisation__text-icon svg {
  width: 100px;
  height: 100px;
  fill: white;
}
.localisation__map {
  display: block;
  border: 7px solid white;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.localisation-route {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 2rem;
}

.route {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.route:nth-of-type(1) {
  width: 60%;
}
.route__icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.route__icon i {
  width: 32px;
  height: 32px;
}
.route__origin {
  margin-bottom: 0.5rem;
}
.route__duration {
  max-width: 220px;
}

@media (min-width: 769px) and (max-width: 992px) {
  .localisation {
    padding-inline: 1.5rem;
    max-width: 100%;
  }
  .localisation__map iframe {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .localisation-wrapper {
    padding-inline: 0;
    background: none;
  }
  .localisation {
    background-color: #718879;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0.5rem;
    max-width: 100%;
    margin-block: 0;
  }
  .localisation__map iframe {
    width: 340px;
    height: 340px;
  }
  .route:nth-of-type(1) {
    width: 100%;
  }
}
.rsvp-wrapper {
  min-height: calc(100vh - 90px);
  background-image: url("../images/sven-wilhelm-2cRXSWyMHA8-unsplash.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.rsvp {
  padding-block: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.rsvp h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 40px;
  color: #718879;
}
.rsvp .form {
  background-color: #718879;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  color: #102f25;
  font-weight: 500;
}
.rsvp .form .name {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.rsvp .form .attend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}
.rsvp .form .attend .radio {
  width: 100%;
}
.rsvp .form .attend .brunch {
  width: 100%;
}
.rsvp .form .guest-info {
  display: none;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #ddd6d3;
  padding-block: 2rem 1rem;
}
.rsvp .form .food-list li {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.rsvp .form .food-list li i {
  cursor: pointer;
}
.rsvp .form .food-list li:last-of-type {
  margin-bottom: 2rem;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.radio:hover .radio__radio {
  background-color: rgba(46, 77, 67, 0.7);
}

.radio__input {
  display: none;
}

.radio__radio {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #102f25;
  border-radius: 50%;
  margin-right: 10px;
  padding: 4px;
}
.radio__radio:hover {
  background-color: #2e4d43;
}
.radio__radio:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #c4d0cd;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.25s;
}

.radio__input:checked + .radio__radio::after {
  transform: scale(1);
}

.add-food {
  display: none;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #2e4d43;
  outline: 0;
  font-size: 1.3rem;
  color: #c4d0cd;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.3s;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #102f25;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 2px;
  border-color: #fff;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.add-food.form__group {
  display: none;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0;
  width: 60%;
}
.add-food.form__group .form__field {
  padding-left: 0.5rem;
  padding: 2px 0 4px 2px;
  font-family: inherit;
  font-size: 1.1rem;
}
.add-food.form__group .form__field::placeholder {
  color: #c4d0cd;
}
.add-food.form__group .btn-add {
  padding: 5px;
  border-radius: 5px;
  margin-left: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkbox-container label::before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #102f25;
  border-radius: 0.2em;
  margin-right: 10px;
}
.checkbox-container label:hover::before {
  background-color: rgba(46, 77, 67, 0.7);
}
.checkbox-container input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.checkbox-container input[type=checkbox]:hover + label::before {
  background-color: rgba(46, 77, 67, 0.7);
}
.checkbox-container input[type=checkbox]:checked + label::before {
  content: "\f00c";
  background-color: #718879;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4d0cd;
  font: normal normal normal 18px/1 FontAwesome;
}
.checkbox-container input[type=checkbox]:active + label::before {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.checkbox-container input[type=checkbox]:focus + label::before {
  background-color: rgba(46, 77, 67, 0.7);
}

.food-wrapper {
  display: none;
}

.form input[type=number] {
  border: 2px solid #102f25;
  outline: 0;
  border-radius: 0.3rem;
  width: 55px;
  padding: 0.2rem 0.4rem;
  background-color: #718879;
  color: #ddd6d3;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-left: 0.5rem;
}
.form input[type=number]:hover {
  background-color: rgba(46, 77, 67, 0.7);
}
.form input[type=number]:focus, .form input[type=number]:active {
  background-color: rgba(46, 77, 67, 0.7);
}

.btn-form {
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: rgba(46, 77, 67, 0.7);
  color: #fff;
  cursor: pointer;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.4);
}
.btn-form:hover, .btn-form:focus {
  background-color: #2e4d43;
}
.btn-form:active {
  box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.5);
}

.btn-submit {
  font-size: 1.2rem;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .rsvp-wrapper {
    background: #c4d0cd;
  }
  .rsvp {
    padding-inline: 0.5rem;
    padding-block: 1rem 2rem;
  }
  .rsvp .form {
    width: 100%;
    padding: 1rem;
  }
  .form input[type=number] {
    width: 35px;
  }
}
.second-part-enfant,
.second-part-adulte {
  margin-block: 0.5rem 2rem;
  border-top: 1px solid #ddd6d3;
}
.second-part-enfant h3,
.second-part-adulte h3 {
  margin-top: 1.5rem;
}
.second-part-enfant .add-food,
.second-part-adulte .add-food {
  margin-top: 1rem;
}

.wedding-list {
  padding: 3rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}
.wedding-list__grid {
  margin: 0 auto 2rem auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "pot1 pot2" "pot1 pot3";
  gap: 1rem;
}
.wedding-list__grid img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.wedding-list__grid img:nth-of-type(1) {
  grid-area: pot1;
}
.wedding-list__grid img:nth-of-type(2) {
  grid-area: pot2;
}
.wedding-list__grid img:nth-of-type(3) {
  grid-area: pot3;
}
.wedding-list .pot {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.wedding-list .pot__title {
  font-size: 2rem;
  text-align: center;
}
.wedding-list .pot__text {
  margin-block: 2rem;
  font-weight: 500;
  line-height: 1.5;
}
.wedding-list .pot .pot__btn {
  color: #fff;
  padding: 1rem 2rem;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 150px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #718879;
  transition: all 0.2s ease-in-out;
}
.wedding-list .pot .pot__btn:hover, .wedding-list .pot .pot__btnfocus {
  background-color: #2e4d43;
}
.wedding-list .pot .pot__btn:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .wedding-list {
    padding-inline: 1rem;
    padding-block: 1rem 2rem;
  }
  .wedding-list__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "pot1 pot1" "pot2 pot3";
  }
  .wedding-list__grid img:nth-of-type(1) {
    grid-area: pot1;
    width: 100%;
  }
  .wedding-list__grid img:nth-of-type(2) {
    grid-area: pot2;
    aspect-ratio: 1/1;
    width: 210px;
    height: 210px;
    display: none;
  }
  .wedding-list__grid img:nth-of-type(3) {
    grid-area: pot3;
    aspect-ratio: 1/1;
    width: 210px;
    height: 210px;
    display: none;
  }
  .pot__text {
    text-align: center;
  }
}
.contacts-wrapper {
  min-height: calc(100vh - 90px);
  background: url("../images/lukas-kulla-zdbbjqfE-ZI-unsplash.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 800px;
  padding: 2rem;
  background-color: rgba(196, 208, 205, 0.9);
}
.contacts__title {
  font-size: 2.5rem;
  text-align: center;
  color: #718879;
}
.contacts__hero {
  margin: 1rem auto;
  text-align: center;
  max-width: 60%;
}
.contacts__hero-subtitle {
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-phone {
  margin-top: 2rem;
}
.contact-phone h2 {
  text-align: center;
  color: #102f25;
}
.contact-phone h2:last-of-type {
  margin-top: 2rem;
}
.contact-phone .day {
  margin-block: 1.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
}
.contact-phone .d-day {
  gap: 0;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 50px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #718879;
  border-radius: 50px;
  -webkit-backface-visibility: hidden; /* Safari */
  -moz-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-card-front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  padding-inline: 1rem;
}
.flip-card-front h3 {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}
.flip-card-front i {
  color: #007900;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
}
.flip-card-back a {
  color: white;
}

.active {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media (max-width: 992px) {
  .contacts-wrapper {
    padding: 1rem;
  }
  .contacts__hero {
    max-width: 80%;
  }
}
@media (max-width: 600px) {
  .contacts-wrapper {
    padding: 0;
    background: none;
  }
  .contacts {
    width: 100%;
    padding: 1rem;
  }
  .contacts__hero {
    max-width: 90%;
  }
  .day {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-phone .day {
    gap: 1.5rem;
  }
  .flip-card-remove {
    display: none;
  }
}
.hotels-wrapper {
  background-color: #c4d0cd;
  padding: 2rem;
}
.hotels-wrapper__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 1rem;
}

.pre-info {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  font-weight: 500;
  max-width: 70%;
  line-height: 1.5;
}

.hotel-container {
  margin: 2rem auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
  gap: 3rem 0;
  place-items: center;
}

.hotel:nth-of-type(1) {
  grid-area: card1;
}

.hotel:nth-of-type(2) {
  grid-area: card2;
}

.hotel:nth-of-type(3) {
  grid-area: card3;
}

.hotel:nth-of-type(4) {
  grid-area: card4;
}

.hotel:nth-of-type(5) {
  grid-area: card5;
}

.hotel:nth-of-type(6) {
  grid-area: card6;
}

.hotel {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  width: 70%;
  min-width: 350px;
  opacity: 0;
}
.hotel:nth-of-type(-n + 3) {
  animation: cardDown 0.8s cubic-bezier(0.37, 0, 0.63, 1) forwards;
}
.hotel:nth-of-type(n + 4) {
  animation: cardUp 0.8s cubic-bezier(0.37, 0, 0.63, 1) forwards;
}
.hotel__img {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}
.hotel__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}

@keyframes cardDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes cardUp {
  0% {
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.hotel__content-text {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.hotel__content-text h2 {
  color: #102f25;
}
.hotel__content-text a {
  background-color: white;
  color: #2e4d43;
  outline: 2px solid #2e4d43;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  margin-block: 0.5rem;
}
.hotel__content-text a:hover {
  background-color: rgba(46, 77, 67, 0.9);
  color: white;
  outline: none;
}
.hotel__content-text a:focus {
  box-shadow: 0 0 8px #2e4d43;
  outline: none;
}

.hotel__content-legend {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}
.hotel__content-legend .legend {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel__content-legend .legend i {
  margin-right: 1rem;
  font-size: 18px;
}
.hotel__content-legend .legend-phone {
  border-right: 1px solid black;
  width: 60%;
}
.hotel__content-legend .legend-walk {
  width: 40%;
}

.airbnb {
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .hotel-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card1 card2" "card3 card4" "card5 card6";
    gap: 2rem 1rem;
  }
  .pre-info {
    max-width: 90%;
  }
}
@media (max-width: 800px) {
  .hotels-wrapper {
    padding-inline: 0.5rem;
  }
  .hotel-container {
    grid-template-columns: 1fr;
    grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6";
    gap: 2rem 1rem;
  }
  .hotel {
    width: 70%;
  }
}
@media (max-width: 530px) {
  .hotel {
    width: 90%;
  }
  .pre-info {
    max-width: 100%;
  }
}
.hotel:nth-child(1) {
  animation-delay: 0.1s;
}

.hotel:nth-child(2) {
  animation-delay: 0.2s;
}

.hotel:nth-child(3) {
  animation-delay: 0.3s;
}

.hotel:nth-child(4) {
  animation-delay: 0.4s;
}

.hotel:nth-child(5) {
  animation-delay: 0.5s;
}

.hotel:nth-child(6) {
  animation-delay: 0.6s;
}

.dj {
  min-height: calc(100vh - 90px);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}
.dj__hero {
  text-align: center;
}
.dj__hero h2 {
  font-size: 32px;
  color: #102f25;
  margin-bottom: 0.5rem;
}
.dj__hero p {
  font-weight: 500;
}

.music-wrapper {
  display: flex;
  gap: 2rem;
  width: 85%;
}
.music-wrapper iframe {
  width: 360px;
  height: 250px;
  border: 4px solid white;
  outline: 1px solid #198754;
  flex-shrink: 0;
}

.music {
  background-color: white;
  border: 1px solid #198754;
  padding: 1rem;
  width: 100%;
  height: 250px;
}
.music .form-group-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.music .form-group-field input {
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
.music .form-group-field input:focus {
  outline: none;
  border: 2px solid #198754;
}
.music .btn-music-submit {
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
  background-color: #198754;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}
.music .btn-music-submit:hover {
  background-color: #157347;
}
.music .btn-music-submit:focus {
  background-color: #198754;
  box-shadow: 0 0 0.25rem rgb(60, 153, 110);
}

.music-list-info {
  font-weight: 500;
  max-width: 80%;
  text-align: center;
}

@media (max-width: 768px) {
  .music-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .music-wrapper iframe {
    width: 343px;
  }
  .music-list-info {
    max-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
