// Colors

$clr-neutral-100: #ffffff;
$clr-neutral-900: #000000;

$clr-primary-100: #c4d0cd;
$clr-primary-300: #718879;
$clr-primary-400: #2e4d43;
$clr-primary-900: #102f25;

$clr-secondary-100: #ddd6d3;
$clr-secondary-400: #b5aeab;

// Sizes

$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-32: 2rem;

$ff-lora: 'Lora', serif;
$ff-karla: 'Karla', sans-serif;

$fw-400: 400;
$fw-700: 700;
