@use '../abstracts/' as *;

.contacts-wrapper {
	min-height: calc(100vh - 90px);
	background: url('../../images/dan-meyers-IQVFVH0ajag-unsplash.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contacts {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	max-width: 800px;
	padding: 2rem;
	background-color: rgba($clr-primary-100, 0.8);

	&__title {
		font-size: 2.5rem;
		text-align: center;
		color: $clr-primary-300;
	}

	&__hero {
		margin: 1rem auto;
		text-align: center;
		max-width: 60%;

		&-subtitle {
			font-weight: 700;
			margin-bottom: 1rem;
		}
	}
}

.contact-phone {
	margin-top: 2rem;

	h2 {
		text-align: center;
		color: $clr-primary-900;
	}

	h2:last-of-type {
		margin-top: 2rem;
	}

	.day {
		margin-block: 1.5rem 0.5rem;
		display: flex;
		justify-content: space-around;
	}

	.d-day {
		gap: 0;
	}
}

// Button style

.flip-card {
	background-color: transparent;
	width: 150px;
	height: 50px;
	perspective: 1000px;

	&-inner {
		background-color: $clr-primary-300;
		border-radius: 50px;
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flip-card-front {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
	padding-inline: 1rem;

	h3 {
		color: white;
		font-weight: 500;
		font-size: 1.1rem;
	}

	i {
		color: #007900;
	}
}

.flip-card-back {
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;

	a {
		color: white;
	}
}

.active {
	transform: rotateY(180deg);
}

@media (max-width: 992px) {
	.contacts-wrapper {
		padding: 1rem;
	}

	.contacts__hero {
		max-width: 80%;
	}
}

@media (max-width: 600px) {
	.contacts-wrapper {
		padding: 0;
		background: none;
	}

	.contacts {
		width: 100%;
		padding: 1rem;

		&__hero {
			max-width: 90%;
		}
	}

	.day {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contact-phone .day {
		gap: 1.5rem;
	}

	.flip-card-remove {
		display: none;
	}
}
