@use '../abstracts/' as *;

.home {
	background-image: url('../../images/dan-meyers-IQVFVH0ajag-unsplash.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	height: calc(100vh - 100px);
	color: #ffffff;
	text-shadow: 0 0px 3px black;
	height: calc(100vh - 90px);
	text-align: center;

	.home__title {
		font-size: 4rem;
		font-weight: 500;
		letter-spacing: 1px;
	}

	.home__subtitle {
		margin-block: 3rem;
		font-size: 20px;
	}
	.home__date {
		font-size: 28px;
		font-weight: 500;
		letter-spacing: 1px;
	}

	.btn-home {
		margin-top: 2rem;
		background-color: $clr-secondary-100;
		color: $clr-primary-900;
		box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
		text-shadow: none;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
			transform 0.1s ease-in-out;

		&:hover {
			background-color: $clr-primary-900;
			color: white;
			opacity: 0.9;
		}

		&:active {
			transform: translateY(2px);
		}
	}
}
