@use '../abstracts/' as *;

.infos-container {
	background-color: $clr-primary-100;
	padding: 5rem 2rem;
	text-align: center;

	h1 {
		text-align: center;
		font-size: 30px;
		font-weight: 400;
		letter-spacing: 2px;
	}
}

.infos {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	max-width: 80%;
	margin-top: 6rem;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;

	&__icon {
		width: 100px;
		height: 100px;
	}
}

.caroussel {
	margin: 5rem auto 0 auto;
	padding: 1rem;
	max-width: 1200px;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 2fr;
	// grid-template-rows: 300px 300px;
	grid-template-areas:
		'infos1 infos2 infos3'
		'infos4 infos5 infos3';

	img {
		aspect-ratio: 1/1;
		object-fit: cover;

		&:nth-of-type(1) {
			grid-area: infos1;
		}

		&:nth-of-type(2) {
			grid-area: infos2;
		}

		&:nth-of-type(3) {
			grid-area: infos3;
			height: 100%;
		}

		&:nth-of-type(4) {
			grid-area: infos4;
		}

		&:nth-of-type(5) {
			grid-area: infos5;
		}
	}
}

.dresscode-title {
	text-align: center;
	margin-block: 2rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	span {
		width: 50px;
	}
}

.dresscode {
	padding: 1rem;
	max-width: 600px;
	margin: 0 auto;

	p {
		margin-bottom: 0.5rem;
	}
}

@media (max-width: 768px) {
	.infos-container {
		padding: 3rem 1rem;
	}

	.infos {
		flex-direction: column;
		margin-top: 3rem;
		max-width: 100%;
		gap: 4rem;
	}

	.info {
		gap: 0.5rem;
	}

	.caroussel {
		display: flex;
		flex-direction: column;
		padding-inline: 1rem;
		margin-top: 3rem;
		max-width: 100%;

		img {
			width: 100%;

			&:nth-of-type(3) {
				width: 100%;
				aspect-ratio: 1/1;
			}
		}
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.infos-container {
		padding-inline: 1rem;
	}

	.infos {
		max-width: 100%;
	}
}
