@use '../abstracts/' as *;

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 2rem;
	background-color: rgb(245, 243, 243);
	color: $clr-primary-900;
	font-size: 24px;
}
