@use '../abstracts/' as *;

.header {
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 20px;
	background-color: rgb(245, 243, 243);

	h1 {
		color: $clr-primary-400;
		// margin-left: 20px;
	}
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	clip-path: circle(25px at calc(100% - 45px) 45px);
	transition: all 0.3s ease-in-out;

	ul {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		li {
			margin: 15px 0;

			a {
				color: none;
				text-decoration: none;
				font-size: 30px;
				font-weight: 500;
				padding: 5px 30px;
				color: #fff;
				border-radius: 50px;
				position: relative;
				line-height: 50px;
				transition: all 0.3s ease;
				white-space: nowrap;

				&:hover {
					background-color: $clr-neutral-100;
					color: $clr-primary-900;
				}
			}
		}
	}
}

input[type='checkbox'] {
	display: none;
}

#active:checked ~ .navbar {
	clip-path: circle(75%);
	background-color: $clr-primary-400;
	opacity: 0.95;
}

.menu-btn {
	// position: absolute;
	z-index: 2;

	// right: 20px;
	// top: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: $clr-primary-900;
	cursor: pointer;
	border: 2px solid $clr-primary-400;
	transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn {
	color: $clr-secondary-100;
	border: 2px solid $clr-secondary-100;
}
#active:checked ~ .menu-btn i:before {
	content: '\f00d';
}

.dropbtn {
	border: 1px solid $clr-primary-900;
	border-radius: 0.5rem;
	padding: 0.3rem 0.3rem;
	width: 40px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;

	i {
		font-size: 15px;
		color: $clr-primary-900;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	// min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: $clr-primary-900;
	padding: 8px 12px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 14px;

	&:first-child {
		border-bottom: 1px solid rgb(223, 220, 220);
	}

	img {
		width: 15px;
	}
}

.dropdown-content a:hover {
	background-color: $clr-primary-100;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: $clr-primary-100;
}

@media (max-width: 768px) {
	.header {
		padding-inline: 10px;

		h1 {
			font-size: 30px;
		}
	}
}
