@use '../abstracts/' as *;

body {
	font-family: $ff-karla;
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-lora;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}
